.page-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.center-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.no-org-actions {
  margin-top: 16px;
}
