@use '@/styles/variables' as *;

.detail-item {
  margin-bottom: 16px;
}

.detail-label {
  color: $th-foreground-muted;
  font-size: 13px;
  margin-bottom: 4px;
}

.detail-value {
  color: $th-foreground;
  font-size: 14px;
  font-weight: 500;
  word-break: break-all;
}
