@use '@/styles/variables' as *;

.page-header {
  margin-bottom: 28px;

  .breadcrumb-back {
    cursor: pointer;
    color: $th-primary;
  }

  .breadcrumb-link {
    cursor: pointer;
  }

  .page-header-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 16px;
  }

  .page-header-actions {
    flex-shrink: 0;
    margin-top: 4px;
  }
}
